body{
        font-family: 'Lato', sans-serif;
         min-height: 75rem;
  padding-top: 4.5rem;

}
*{
    list-style-type: none;
}
h1{
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.navbar{
    font-family: 'Montserrat', sans-serif !important;
   

}
img{
    width: 100%;
}
.bg {
    background-color: #000;
    color: #fff;
}
.navbar-brand, .navbar-brand:hover{
    font-size: 2rem;
    color: #fff;
}
.nav-link, .nav-link:focus{
    color: #fff;
    font-size: 1.1rem;
}
.nav-link:hover, .nav-link:visited{
    border-bottom: #fff 1px solid;
    color: #fff;
}
.active{
    color: #919098;

}
.navbar ul{
    gap: 20px;
}
.navbar i{
    font-size: 2rem;
    padding: 2%;
    color: #fff;
}
/* Cart  */
.cart{
    position: fixed;
    top: 70px;
    right: -100%;
    min-height: 80vh;
    max-height: 90vh;
    z-index: 3;
    width: 360px;
    padding:2rem 2rem;
    background-color: white;
    color: black;
    transition: 0.3s;
    overflow-y: scroll;
    overflow-x: hidden;
}
.cart.active{
    right: 0px;
}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;

}
.cart-price{
    font-weight: 500;
}
.cart-qty{
    width: 3rem;
    border: #000 2px solid;
    text-align: center;
    font-size: 1rem;

}
.rm-cart{
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-top: 2px black solid;
    padding-top: .5rem;
    gap: 1rem;
}
.total-title{
    font-weight: 600;
    font-size: 1.2rem;
}
.total-price{
    font-size: 1.2rem;
    padding-right: 5px;
}
.btn-buy{
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border: none;
    background-color: red;
    color: white;
    margin:  .5rem auto;
    display: flex;
    cursor: pointer;
    font-weight: 500;
}
.btn-buy:hover{
    background-color: black;
}
.cl-cart{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
}
.mob-cart{
    display: none;
}
@media screen and (max-width:984px){
    .mob-cart{
        display: block;
    }
}


/* cart end  */
#title  {
    /* height: 90vh; */
    width: 100%;
    background-color: #919098;
    
    opacity: 0.9;
    padding: 5% 8%;
}
#title .title{
    padding: 5% 0%;
    padding-left: 20px;
}

#title .preview-image{
    padding-left: 7%;
}

#title  .col-lg-6 img{
     max-width: 75%;
     transform: rotate(25deg);
     
 
}
@media screen and (max-width:996px) {
    #title  .col-lg-6 img{
     max-width: 75%;
     transform: rotate(0deg);
     
 
}
}
/* Features  */

#features .container-fluid{
    padding: 8% 15%;
    background-color: black;
    color: white;
}
#features .feature-card{
    text-align: center;
    padding: 2%;

}
#features .feature-card i{
    font-size: 4rem;
    padding: 10px;
    margin: 10px;
    /* padding-bottom: 2%; */
}

/***********
 Shop section
  *********** */


#shop{
    background-color: #fff;
    color: black;
    padding: 3% 6%;
}
.shop-section-title{
    margin-bottom: 4rem;
    padding: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    box-shadow: #919098 0 0 3px ;
}
.light-txt{
    font-weight: 300;
}
.shop-products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 4rem;
}
.product-box{
    position: relative;
    padding: .5rem;
}
.product-box:hover{
    padding: 1rem;
    border: 1px solid #000;
    transition: .45s;
}
.product-box img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}
.product-title{
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    margin-bottom: 0.5rem;
}
.product-price{
    font-weight: 500;
}
.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white; 
    cursor: pointer;
    font-size: 1.3rem;
    padding: .5rem;
    margin-top: 1rem;

}
.add-cart:hover{
    color: black;
    background-color: white;
    transition: .4s;
    border-left: 1px solid black;
    border-top: #000 1px solid;
}

/* Collection Section  */
#collection{
    padding: 4% 10%;
    background-color: #000;
    color: white;
    
}
#collection .container-fluid{
    padding: 4% 10%;

}
.category-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50%,auto));
    gap: 30px;
}
.collection .sectionCollection{
    margin: 2% 10%;
    padding: 5%;
    text-align: center;
}
.collection .section-title{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
} 
.collection .section-sub-title{
    font-weight: 300;
    font-size: 1.3rem;
    text-transform: capitalize;
    text-align: center;
}

.cat-box{
    position: relative;
    padding: .5rem;
    cursor: pointer;
}
.cat-box:hover{
    padding: 1rem;
    border: 1px solid #fff;
    transition: .45s;
}
.cat-box img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}
.cat-title{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-top: 0.5rem ;
    width: 100%;
    text-align: center;
}